<div class="footer">
  <p>This footer was made with <i class="fas fa-heart"></i> by 
  <%= link_to 'Elise Dindault', 'https://www.linkedin.com/in/elise-dindault-34555867', target: :_blank, class: 'footer-links' %> 
  && <%= link_to 'Jeremy_BRD', 'https://jeremybrd.dev', target: :_blank, class: 'footer-links' %></p>
</div>
