<div class="container cheatsheets-container">
  <div class="card-xl">
    <p>.card-xl</p>
  </div>

  <div class="card-s">
    <p>.card-s</p>
  </div>

  <p class="cheatsheets-main-font">$main-font => ex : Hello World</p>
  <p class="cheatsheets-sec-font">$sec-font => ex : Pitaya, Surpriz & Namek</p>

  <p>$main-color: <i class="fa fa-square cheatsheets-main-color"></i></p>
  <p>$sec-color: <i class="fa fa-square cheatsheets-sec-color"></i></p>

  <%= link_to '.call-to-action', '#', class: 'call-to-action' %>
  <br>
  <%= link_to '.submit-btn', '#', class: 'submit-btn' %>
</div>
