<%= render 'shared/banner' %>
<div class="main-content-home">
  <h2>How it works ?</h2>
  <div class="card-container-home">
    <div class="card-xl card-home">
      <%= image_tag 'secure_login' %>
      <p>Login or sign-up if you don’t already have an account</p>
    </div>
    <div class="card-xl card-home">
      <%= image_tag 'online_calendar' %>
      <p>You can now create a trip with our application, it will allow you to organize your journey (flight number, hotel, places to visit ...)</p>
    </div>
    <div class="card-xl card-home">
      <%= image_tag 'around_the_world' %>
      <p>Let’s travel !</p>
    </div>
  </div>
</div>
