.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 30px;
  color: rgba(0,0,0,0.3);
}

.footer .fa-heart {
  color: #D23333;
}

.footer-links {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: black;
  }
}
